astroid
attrs
certifi
chardet
dacite
fastparquet
httpretty
idna
iniconfig
ipython
isort
lazy-object-proxy
mccabe
mypy-extensions
mypy
packaging
pandas
pluggy
py
pylint
pyparsing
pytest-pylint
pytest
python-http-client
pyyaml
requests[socks]
six
toml
traitlets
typed-ast
typer
typing-extensions
urllib3
wheel
wrapt
